scripts/
testAssets/

# Generated Themes Directory
src/main/resources/doki/themes

# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
build/
classes/

./club_members/

#gradle.properties
*.icls
src/test/resources/

masterThemes/