name: Release
on:
  release:
    types:
      - created
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Pull down the Master Themes
        run: ./getMasterThemes.sh
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - run: ./ciScripts/buildPlugin.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy zip file
        run: cp build/distributions/*.zip doki-theme.zip
      - uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: doki-theme.zip
          asset_name: doki-theme.zip
          asset_content_type: application/zip
